<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-team-1/blob/main/Reto/Reto_Equipo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Maestría en Inteligencia Artificial Aplicada
##Curso: Ciencia y analítica de datos
Tecnológico de Monterrey

Semana 4 - Actividad 1. PCA

Prof Maria de la Paz Rico

Equipo 1

Alumno: Joel Orlando Hernández Ramos

Matrícula: A00759664

Alumno: Rafael Sánchez García

Matrícula: A01182780

Fecha de entrega: Noviembre 16th, 2022

#Parte 1

##Load data

In [1]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import collections
import re

In [2]:
path = 'https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-team-1/main/Reto/Datos_de_calidad_del_agua_2020/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv'
df_AguaSubterranea = pd.read_csv(path,encoding='cp1252')
df_AguaSubterranea.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
0,DLAGU6,POZO SAN GIL,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,ASIENTOS,VALLE DE CHICALOTE,POZO,-102.02210,22.20887,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1,DLAGU6516,POZO R013 CAÑADA HONDA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,AGUASCALIENTES,VALLE DE CHICALOTE,POZO,-102.20075,21.99958,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
2,DLAGU7,POZO COSIO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,COSIO,VALLE DE AGUASCALIENTES,POZO,-102.28801,22.36685,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
3,DLAGU9,POZO EL SALITRILLO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,VALLE DE AGUASCALIENTES,POZO,-102.29449,22.18435,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
4,DLBAJ107,RANCHO EL TECOLOTE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LA PAZ,TODOS SANTOS,POZO,-110.24480,23.45138,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI

##Clean database

In [3]:
df_AguaSubterranea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 57 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_mg/L              0 non-null      float64
 15  SDT_M_mg/L            1066 non-null   object
 16  CALIDAD_SDT_ra        1066 non-null   object
 17  CALIDAD_SDT_salin     1066 non-null   object
 18  FLUORUROS_mg/L        1068 non-null   object
 19  CALIDAD_FLUO          1068 non-null   object
 20  DUR_mg/L              1067 non-null   object
 21  CALIDAD_DUR           1067 non-null   object
 22  COLI_FEC_NMP/100_mL   1068 non-null   object
 23  CALIDAD_COLI_FEC      1068 non-null   object
 24  N_NO3_mg/L            1067 non-null   object
 25  CALIDAD_N_NO3         1067 non-null   object
 26  AS_TOT_mg/L           1068 non-null   object
 27  CALIDAD_AS            1068 non-null   object
 28  CD_TOT_mg/L           1068 non-null   object
 29  CALIDAD_CD            1068 non-null   object
 30  CR_TOT_mg/L           1068 non-null   object
 31  CALIDAD_CR            1068 non-null   object
 32  HG_TOT_mg/L           1068 non-null   object
 33  CALIDAD_HG            1068 non-null   object
 34  PB_TOT_mg/L           1068 non-null   object
 35  CALIDAD_PB            1068 non-null   object
 36  MN_TOT_mg/L           1068 non-null   object
 37  CALIDAD_MN            1068 non-null   object
 38  FE_TOT_mg/L           1068 non-null   object
 39  CALIDAD_FE            1068 non-null   object
 40  SEMAFORO              1068 non-null   object
 41  CONTAMINANTES         634 non-null    object
 42  CUMPLE_CON_ALC        1068 non-null   object
 43  CUMPLE_CON_COND       1068 non-null   object
 44  CUMPLE_CON_SDT_ra     1068 non-null   object
 45  CUMPLE_CON_SDT_salin  1068 non-null   object
 46  CUMPLE_CON_FLUO       1068 non-null   object
 47  CUMPLE_CON_DUR        1068 non-null   object
 48  CUMPLE_CON_CF         1068 non-null   object
 49  CUMPLE_CON_NO3        1068 non-null   object
 50  CUMPLE_CON_AS         1068 non-null   object
 51  CUMPLE_CON_CD         1068 non-null   object
 52  CUMPLE_CON_CR         1068 non-null   object
 53  CUMPLE_CON_HG         1068 non-null   object
 54  CUMPLE_CON_PB         1068 non-null   object
 55  CUMPLE_CON_MN         1068 non-null   object
 56  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(5), int64(1), object(51)
memory usage: 475.7+ KB

We have 5 columns float type and 51 object type. The total items is 1068

In [4]:
df_AguaSubterranea.isna().any()

CLAVE                   False
SITIO                   False
ORGANISMO_DE_CUENCA     False
ESTADO                  False
MUNICIPIO               False
ACUIFERO                False
SUBTIPO                 False
LONGITUD                False
LATITUD                 False
PERIODO                 False
ALC_mg/L                 True
CALIDAD_ALC              True
CONDUCT_mS/cm            True
CALIDAD_CONDUC           True
SDT_mg/L                 True
SDT_M_mg/L               True
CALIDAD_SDT_ra           True
CALIDAD_SDT_salin        True
FLUORUROS_mg/L          False
CALIDAD_FLUO            False
DUR_mg/L                 True
CALIDAD_DUR              True
COLI_FEC_NMP/100_mL     False
CALIDAD_COLI_FEC        False
N_NO3_mg/L               True
CALIDAD_N_NO3            True
AS_TOT_mg/L             False
CALIDAD_AS              False
CD_TOT_mg/L             False
CALIDAD_CD              False
CR_TOT_mg/L             False
CALIDAD_CR              False
HG_TOT_mg/L             False
CALIDAD_HG              False
PB_TOT_mg/L             False
CALIDAD_PB              False
MN_TOT_mg/L             False
CALIDAD_MN              False
FE_TOT_mg/L             False
CALIDAD_FE              False
SEMAFORO                False
CONTAMINANTES            True
CUMPLE_CON_ALC          False
CUMPLE_CON_COND         False
CUMPLE_CON_SDT_ra       False
CUMPLE_CON_SDT_salin    False
CUMPLE_CON_FLUO         False
CUMPLE_CON_DUR          False
CUMPLE_CON_CF           False
CUMPLE_CON_NO3          False
CUMPLE_CON_AS           False
CUMPLE_CON_CD           False
CUMPLE_CON_CR           False
CUMPLE_CON_HG           False
CUMPLE_CON_PB           False
CUMPLE_CON_MN           False
CUMPLE_CON_FE           False
dtype: bool

We have 13 columns with NAs values. So we are going to start cleaning them.

Now lets see how many NAs are per column

In [5]:
df_AguaSubterranea.isna().sum()

CLAVE                      0
SITIO                      0
ORGANISMO_DE_CUENCA        0
ESTADO                     0
MUNICIPIO                  0
ACUIFERO                   0
SUBTIPO                    0
LONGITUD                   0
LATITUD                    0
PERIODO                    0
ALC_mg/L                   4
CALIDAD_ALC                4
CONDUCT_mS/cm              6
CALIDAD_CONDUC             6
SDT_mg/L                1068
SDT_M_mg/L                 2
CALIDAD_SDT_ra             2
CALIDAD_SDT_salin          2
FLUORUROS_mg/L             0
CALIDAD_FLUO               0
DUR_mg/L                   1
CALIDAD_DUR                1
COLI_FEC_NMP/100_mL        0
CALIDAD_COLI_FEC           0
N_NO3_mg/L                 1
CALIDAD_N_NO3              1
AS_TOT_mg/L                0
CALIDAD_AS                 0
CD_TOT_mg/L                0
CALIDAD_CD                 0
CR_TOT_mg/L                0
CALIDAD_CR                 0
HG_TOT_mg/L                0
CALIDAD_HG                 0
PB_TOT_mg/L                0
CALIDAD_PB                 0
MN_TOT_mg/L                0
CALIDAD_MN                 0
FE_TOT_mg/L                0
CALIDAD_FE                 0
SEMAFORO                   0
CONTAMINANTES            434
CUMPLE_CON_ALC             0
CUMPLE_CON_COND            0
CUMPLE_CON_SDT_ra          0
CUMPLE_CON_SDT_salin       0
CUMPLE_CON_FLUO            0
CUMPLE_CON_DUR             0
CUMPLE_CON_CF              0
CUMPLE_CON_NO3             0
CUMPLE_CON_AS              0
CUMPLE_CON_CD              0
CUMPLE_CON_CR              0
CUMPLE_CON_HG              0
CUMPLE_CON_PB              0
CUMPLE_CON_MN              0
CUMPLE_CON_FE              0
dtype: int64

In [6]:
df_AguaSubterranea.describe().T

,count,mean,std,min,25%,50%,75%,max
LONGITUD,1068.0,-101.891007,6.703263,-116.66425,-105.388865,-102.17418,-98.974716,-86.864120
LATITUD,1068.0,23.163618,3.887670,14.56115,20.212055,22.61719,25.510285,32.677713
PERIODO,1068.0,2020.000000,0.000000,2020.00000,2020.000000,2020.00000,2020.000000,2020.000000
ALC_mg/L,1064.0,235.633759,116.874291,26.64000,164.000000,215.52750,292.710000,1650.000000
CONDUCT_mS/cm,1062.0,1138.953013,1245.563674,50.40000,501.750000,815.00000,1322.750000,18577.000000
SDT_mg/L,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can see that all the values from **PERIODO** is 2020 and **SDT_mg/L** is an empty column. We are considering to drop these 2 columns.

In [7]:
df_AguaSubterranea.drop(['PERIODO','SDT_mg/L'], axis = 1, inplace = True)

Reviewing the data we can see that there are some columns that have 1,2,4 and 6 items with NA's, which in total are 30 items. If them are deleted the data base will end with just 1038 items which is the 97.19% of the data, which is enough to represent the dataset.

In [8]:
df_NAsColumns = df_AguaSubterranea[df_AguaSubterranea.columns[df_AguaSubterranea.isna().any()]]
df_NAsColumns.drop(['CONTAMINANTES'],axis = 1, inplace = True)
df_NAsColumns.columns

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Index(['ALC_mg/L', 'CALIDAD_ALC', 'CONDUCT_mS/cm', 'CALIDAD_CONDUC',
       'SDT_M_mg/L', 'CALIDAD_SDT_ra', 'CALIDAD_SDT_salin', 'DUR_mg/L',
       'CALIDAD_DUR', 'N_NO3_mg/L', 'CALIDAD_N_NO3'],
      dtype='object')

In [9]:
df_AguaSubterranea.dropna(subset = df_NAsColumns.columns, axis = 0, inplace = True)
df_AguaSubterranea.isna().sum()

CLAVE                     0
SITIO                     0
ORGANISMO_DE_CUENCA       0
ESTADO                    0
MUNICIPIO                 0
ACUIFERO                  0
SUBTIPO                   0
LONGITUD                  0
LATITUD                   0
ALC_mg/L                  0
CALIDAD_ALC               0
CONDUCT_mS/cm             0
CALIDAD_CONDUC            0
SDT_M_mg/L                0
CALIDAD_SDT_ra            0
CALIDAD_SDT_salin         0
FLUORUROS_mg/L            0
CALIDAD_FLUO              0
DUR_mg/L                  0
CALIDAD_DUR               0
COLI_FEC_NMP/100_mL       0
CALIDAD_COLI_FEC          0
N_NO3_mg/L                0
CALIDAD_N_NO3             0
AS_TOT_mg/L               0
CALIDAD_AS                0
CD_TOT_mg/L               0
CALIDAD_CD                0
CR_TOT_mg/L               0
CALIDAD_CR                0
HG_TOT_mg/L               0
CALIDAD_HG                0
PB_TOT_mg/L               0
CALIDAD_PB                0
MN_TOT_mg/L               0
CALIDAD_MN                0
FE_TOT_mg/L               0
CALIDAD_FE                0
SEMAFORO                  0
CONTAMINANTES           427
CUMPLE_CON_ALC            0
CUMPLE_CON_COND           0
CUMPLE_CON_SDT_ra         0
CUMPLE_CON_SDT_salin      0
CUMPLE_CON_FLUO           0
CUMPLE_CON_DUR            0
CUMPLE_CON_CF             0
CUMPLE_CON_NO3            0
CUMPLE_CON_AS             0
CUMPLE_CON_CD             0
CUMPLE_CON_CR             0
CUMPLE_CON_HG             0
CUMPLE_CON_PB             0
CUMPLE_CON_MN             0
CUMPLE_CON_FE             0
dtype: int64

Now, the last column that we need to clean is **CONTAMINANTES**. Lets start to see what we have inside it

In [10]:
df_AguaSubterranea['CONTAMINANTES'].unique().tolist()

[nan,
 'FLUO,AS,',
 'NO3,',
 'CF,',
 'CONDUC,NO3,',
 'DT,CF,AS,MN,FE,',
 'CONDUC,SDT_ra,SDT_salin,DT,AS,',
 'AS,',
 'DT,CF,PB,FE,',
 'CONDUC,SDT_ra,SDT_salin,DT,',
 'CONDUC,AS,FE,',
 'CONDUC,',
 'CF,FE,',
 'FE,',
 'DT,NO3,',
 'DT,CR,FE,',
 'CF,FE,NO3,',
 'CONDUC,SDT_ra,SDT_salin,DT,CF,FE,',
 'CONDUC,SDT_ra,SDT_salin,DT,FE,',
 'CONDUC,DT,',
 'CONDUC,SDT_ra,SDT_salin,DT,CF,NO3,',
 'CONDUC,SDT_ra,SDT_salin,DT,FE,NO3,',
 'CONDUC,DT,CF,',
 'FLUO,CF,',
 'DT,',
 'FLUO,',
 'FLUO,DT,',
 'CONDUC,SDT_ra,SDT_salin,FLUO,',
 'CR,FE,',
 'ALC,',
 'SDT_ra,SDT_salin,DT,MN,FE,',
 'FLUO,FE,',
 'FLUO,CF,AS,',
 'DT,FE,',
 'CONDUC,SDT_ra,SDT_salin,FLUO,DT,AS,NO3,',
 'CONDUC,SDT_ra,SDT_salin,DT,AS,NO3,',
 'FLUO,DT,AS,',
 'FLUO,CF,AS,FE,',
 'FE,NO3,',
 'ALC,FLUO,',
 'ALC,CONDUC,SDT_ra,SDT_salin,DT,FE,NO3,',
 'CONDUC,SDT_ra,SDT_salin,FLUO,DT,',
 'CONDUC,SDT_ra,SDT_salin,FLUO,DT,NO3,',
 'CONDUC,SDT_ra,SDT_salin,DT,CF,',
 'CONDUC,SDT_ra,SDT_salin,DT,NO3,',
 'CR,',
 'CONDUC,DT,FE,',
 'ALC,CONDUC,DT,',
 'CONDUC,DT,NO3,',
 'ALC,CONDUC,SDT_ra,SDT_salin,DT,MN,FE,',
 'MN,',
 'CF,PB,',
 'CF,MN,',
 'CF,MN,FE,',
 'ALC,FLUO,AS,',
 'AS,FE,',
 'DT,AS,NO3,',
 'CONDUC,DT,AS,',
 'FLUO,AS,FE,',
 'ALC,AS,FE,',
 'PB,MN,FE,',
 'ALC,CONDUC,SDT_ra,SDT_salin,FLUO,DT,MN,FE,',
 'ALC,CONDUC,SDT_ra,SDT_salin,FLUO,DT,AS,MN,FE,',
 'ALC,CONDUC,SDT_ra,SDT_salin,DT,NO3,',
 'ALC,FLUO,AS,FE,',
 'MN,FE,',
 'ALC,AS,MN,FE,',
 'ALC,MN,',
 'NI,FE,',
 'CONDUC,MN,FE,',
 'ALC,DT,FE,',
 'CONDUC,PB,FE,',
 'PB,FE,',
 'CONDUC,FLUO,DT,',
 'ALC,DT,',
 'ALC,CONDUC,',
 'ALC,CONDUC,AS,MN,',
 'AS,MN,FE,',
 'DT,PB,',
 'PB,',
 'CONDUC,SDT_ra,SDT_salin,DT,HG,MN,FE,',
 'ALC,CONDUC,DT,NO3,',
 'DT,MN,',
 'MN,NO3,',
 'ALC,CF,',
 'FLUO,MN,FE,',
 'CONDUC,SDT_ra,SDT_salin,FLUO,DT,PB,',
 'CF,CD,MN,FE,',
 'ALC,FE,',
 'CONDUC,SDT_ra,SDT_salin,DT,AS,FE,',
 'ALC,FLUO,AS,NO3,',
 'SDT_ra,SDT_salin,DT,NO3,',
 'SDT_ra,SDT_salin,DT,CR,',
 'CONDUC,FLUO,NO3,',
 'CONDUC,DT,CF,AS,NO3,',
 'AS,NO3,',
 'CONDUC,FE,NO3,',
 'CONDUC,SDT_ra,SDT_salin,DT,AS,MN,',
 'CONDUC,DT,CD,',
 'DT,CF,',
 'CONDUC,FLUO,DT,CF,',
 'DT,MN,FE,',
 'CONDUC,SDT_ra,SDT_salin,CR,',
 'CONDUC,FE,',
 'CR,MN,FE,',
 'CONDUC,SDT_ra,SDT_salin,FLUO,DT,FE,',
 'ALC,DT,AS,MN,',
 'FLUO,AS,NO3,',
 'ALC,MN,FE,',
 'CF,NO3,',
 'ALC,CONDUC,SDT_ra,SDT_salin,FLUO,NO3,',
 'CONDUC,FLUO,FE,',
 'SDT_ra,SDT_salin,DT,MN,',
 'SDT_ra,SDT_salin,DT,FE,',
 'SDT_ra,SDT_salin,DT,',
 'CONDUC,SDT_ra,SDT_salin,',
 'ALC,DT,MN,',
 'CONDUC,SDT_ra,SDT_salin,DT,MN,FE,',
 'ALC,CONDUC,DT,MN,NO3,',
 'ALC,NO3,',
 'CONDUC,DT,MN,FE,',
 'CR,MN,',
 'FLUO,CR,FE,',
 'CR,NI,FE,',
 'AS,CR,',
 'ALC,DT,NO3,']

To explain more in detail this column we can see that it has all the contaminants that are present in the water. So if one of the items does not have a value or is a NA, this is mean that the water is cleaned, so to avoid to have NA's in the database we can replace it with a phrase **UNCONTAMINATED**

In [11]:
df_AguaSubterranea['CONTAMINANTES'].fillna('NINGUNO', inplace=True)
df_AguaSubterranea.isna().values.any()

False

The database does not have any NAs values. Lets start exploring the columns

###FLUORUROS_mg/L

In [12]:
print("type ",df_AguaSubterranea['FLUORUROS_mg/L'].dtypes)
print("String Values")
print(df_AguaSubterranea['FLUORUROS_mg/L'][pd.to_numeric(df_AguaSubterranea['FLUORUROS_mg/L'], errors='coerce').isnull()].unique())
print("Numeric Values")
print(df_AguaSubterranea['FLUORUROS_mg/L'][pd.to_numeric(df_AguaSubterranea['FLUORUROS_mg/L'], errors='coerce').notnull()].unique())

type  object
String Values
['<0.2']
Numeric Values
['0.9766' '0.9298' '1.8045' '1.1229' '0.2343' '0.2756' '0.289' '0.5607'
 '0.3421' '0.5088' '0.4925' '0.6351' '0.2636' '0.4125' '0.3513' '0.4116'
 '0.6076' '0.4142' '0.2563' '0.8969' '0.3557' '0.3542' '0.2572' '0.3102'
 '0.3062' '0.3823' '0.7995' '0.2943' '0.272' '0.3593' '0.3116' '0.7633'
 '0.2671' '0.2072' '0.3848' '0.2781' '0.226' '0.3068' '0.2229' '0.8119'
 '0.7515' '0.4462' '0.3728' '0.2664' '2.2275' '0.9497' '0.2482' '0.2655'
 '0.3207' '0.3284' '0.6042' '0.9832' '0.2462' '0.6138' '1.658' '1.4981'
 '1.7838' '0.4265' '0.5588' '0.828' '0.489' '0.2469' '0.9052' '2.0459'
 '0.4386' '0.2079' '0.8061' '1.716' '0.8564' '1.4876' '0.3963' '1.8247'
 '0.4605' '2.6173' '2.5556' '1.9905' '0.7554' '0.5695' '1.2825' '6.6215'
 '1.4009' '0.3269' '5.0148' '1.5169' '1.7789' '3.2139' '0.4113' '0.6039'
 '4.276' '12.501' '1.4156' '4.2962' '1.4242' '1.4171' '1.3668' '2.42'
 '3.0621' '0.5081' '0.7144' '0.8732' '1.0391' '1.7093' '1.8523' '4.855'
 '0.7535' '0.4503' '0.3951' '2.7784' '1.3811' '0.6128' '0.3326' '0.356'
 '0.4365' '1.8388' '2.8058' '3.1483' '0.3113' '1.0733' '1.0062' '0.6646'
 '0.5682' '0.5202' '0.6458' '0.703' '0.8908' '0.4994' '0.3275' '0.4336'
 '0.3769' '0.2486' '0.2918' '0.3092' '0.4341' '0.3751' '0.3901' '0.5519'
 '0.7375' '0.4416' '1.2231' '0.4026' '0.5536' '0.3651' '0.2601' '0.3693'
 '0.4841' '0.2718' '0.335' '0.2712' '0.2439' '0.2822' '0.2518' '0.2065'
 '0.3086' '0.508' '0.3115' '0.3768' '1.8562' '2.4063' '1.1393' '2.6279'
 '5.1765' '7.1332' '2.6814' '4.7779' '1.3633' '0.7303' '3.1583' '1.3433'
 '1.3956' '1.4524' '0.4961' '1.2269' '0.5759' '1.9817' '1.4556' '0.8164'
 '1.2052' '0.5381' '1.4795' '1.1295' '1.1237' '1.8841' '1.853' '2.8089'
 '1.491' '1.568' '13.0078' '1.2869' '1.3036' '1.3098' '1.0852' '1.0721'
 '1.0707' '0.9514' '0.9793' '1.4232' '0.76' '3.0407' '1.7074' '1.7899'
 '34.8033' '3.6351' '1.9198' '5.0366' '0.471' '1.1346' '0.888' '11.6323'
 '0.5567' '4.9721' '5.2268' '1.2237' '1.5535' '2.2075' '1.939' '2.9383'
 '4.8495' '2.2834' '1.693' '12.2933' '0.8818' '0.9051' '0.8714' '0.3603'
 '1.9166' '0.5163' '2.4062' '0.4202' '3.9907' '2.4702' '1.5103' '1.1938'
 '3.4757' '0.6899' '1.288' '0.5241' '2.6454' '4.6166' '0.7391' '1.2584'
 '0.7008' '0.3829' '1.0355' '1.1935' '0.9572' '0.345' '1.4547' '0.8101'
 '0.7575' '0.8621' '0.5387' '0.3568' '0.4307' '0.406' '1.5566' '3.07'
 '4.725' '3.01' '1.38' '1.09' '3.295' '3.6931' '1.72' '4.87' '1.1708'
 '1.2737' '1.0104' '0.2833' '1.4785' '0.5028' '1.9417' '4.1785' '1.3065'
 '1.6543' '0.614' '0.321' '0.333' '0.436' '0.768' '0.408' '0.805' '0.556'
 '0.219' '0.654' '0.619' '1.0576' '0.4702' '0.3467' '0.699' '1.035'
 '0.595' '0.235' '1.6185' '0.8942' '0.6045' '0.7042' '0.4343' '0.7178'
 '0.4592' '0.2658' '1.5592' '12.478' '0.6251' '0.2654' '0.7211' '0.5673'
 '0.2891' '0.2507' '0.6599' '0.4725' '0.8859' '3.4144' '2.3928' '0.8733'
 '1.1606' '0.797' '0.8505' '5.1379' '3.3458' '1.5649' '1.3741' '0.9949'
 '1.6628' '1.6619' '1.1364' '4.2928' '0.299' '10.5832' '1.353' '0.711'
 '0.282' '0.27' '0.247' '0.276' '0.236' '0.31' '0.379' '0.213' '0.579'
 '0.562' '0.393' '0.35' '0.39' '0.396' '0.2985' '0.4972' '0.3219' '0.8239'
 '0.756' '0.348' '0.41' '0.58' '0.472' '0.404' '0.584' '0.207' '0.81'
 '0.466' '0.4' '0.652' '1.094' '0.432' '0.511' '0.505' '0.669' '0.59'
 '0.253' '0.493' '0.339' '1.604' '1.88' '0.2112' '0.2086' '0.2245'
 '0.6437' '0.5722' '0.2292' '0.2251' '2.4111' '1.7021' '0.6037' '0.4423'
 '0.4729' '1.1885' '0.2776' '0.241' '1.3979' '1.4892' '2.9128' '3.247'
 '2.5847' '2.9828' '2.5504' '2.5422' '2.136' '1.9904' '1.8326' '2.734'
 '0.8287' '0.6657' '2.9349' '2.7147' '1.7301' '0.2444' '1.4964' '0.9581'
 '0.7001' '0.8296' '2.0311' '1.0516' '0.9273' '0.2816' '1.4587' '1.3636'
 '1.7781' '0.5386' '0.331' '0.3643' '0.7511' '0.5103' '0.6527' '1.4738'
 '1.06' '1.0736' '0.4097' '0.2008' '0.5089' '0.4818' '0.6904' '0.3023'
 '0.2879' '0.426' '0.501' '0.479' '0.347' '0.231' '0.215' '0.638' '0.415'
 '0.448' '1.054' '0.273' '0.297' '0.204' '0.363' '0.398' '0.725' '0.269'
 '1.1847' '2.4515' '1.3777' '2.5347' '0.8954' '2.75' '1.2711' '3.1991'
 '3.8324' '7.3711' '1.6201' '0.4485' '1.7825' '1.9114' '1.725' '0.7826'
 '3.5162' '1.9875' '1.9872' '0.4236' '1.2316' '0.9508' '0.4038' '0.4373'
 '1.3018' '1.1432' '1.1274' '1.1465' '1.8961' '1.2381' '2.6145' '1.5577'
 '2.1518' '0.4808' '0.2562' '0.3292' '1.1398' '0.6064' '1.4074' '1.3645'
 '2.1357' '1.4153' '2.4666' '2.2049' '0.5793' '1.9881' '2.7522' '5.6703'
 '21.2375' '2.9359' '2.7579' '3.2973' '1.2218' '0.6427' '0.3075' '0.2054'
 '1.0281' '4.4459' '3.9064' '1.5911' '2.5971' '1.3266' '1.1749' '0.2382'
 '0.8776' '2.5944' '2.1405' '1.6277' '1.0838' '1.5684' '5.9852' '4.8769'
 '5.015' '2.6574' '6.9156' '0.2256' '0.2586' '1.2444' '1.6581' '0.7004'
 '0.6974' '0.3298' '0.3765' '0.3017' '0.2635' '0.7378' '0.3544' '0.457'
 '0.256' '1.4641' '1.744' '1.7229' '2.3565' '0.689' '1.0704' '0.705'
 '3.0196' '2.549' '1.0542' '0.6921' '1.4584' '1.1535' '0.5733' '0.4542'
 '0.3972' '0.3806' '1.0625' '0.4466' '0.77' '1.1002' '0.5187' '0.5113'
 '0.8269' '0.8569' '0.576' '0.7196' '1.1494' '0.6723' '0.6367' '0.9089'
 '0.5326' '0.5553' '0.661' '1.0481' '1.5267' '0.3229' '1.7223' '4.0054'
 '0.4107' '0.504' '0.9665' '0.3849' '0.9433' '0.862' '0.6826' '0.9254'
 '2.0583' '0.6924' '0.4993' '0.8861' '1.9846' '0.3752' '0.2158' '0.7202'
 '0.5534' '0.244' '0.2653' '0.2913' '0.2035' '0.23' '0.2727' '0.443'
 '0.2179' '0.7079' '0.5453' '0.7787' '0.2509' '0.2241' '1.5534' '0.5169'
 '1.9264' '0.5171' '0.3114' '0.2334' '0.3152' '0.3523' '0.9908' '0.5212'
 '0.6204' '0.6545' '0.2526' '0.6946' '0.978' '0.7324' '0.9788' '1.811'
 '1.3448' '1.074' '1.0276' '1.7972' '5.4689' '1.0782' '0.3887' '0.5781'
 '0.7063' '0.4229' '0.4488' '0.202' '3.7839' '0.2951' '0.9272' '6.9355'
 '0.4717' '8.3014' '4.2048' '0.4331' '0.2662' '0.2239' '0.4042' '0.6747'
 '0.2102' '0.498' '1.2872' '0.2142' '0.9937' '0.228' '1.0635' '0.8217'
 '1.3526' '12.1712' '1.197' '0.6917' '0.3387' '0.3175' '0.2742' '0.3346'
 '0.503' '0.5199' '0.3668' '0.2162' '0.4269' '1.1947' '0.3203' '0.8574'
 '0.3496' '0.9518' '0.4917' '0.3976' '1.0584' '3.8988' '0.5657' '2.7379'
 '0.4675' '0.4523' '0.3859' '0.3263' '1.7233' '0.6558' '0.5417' '0.9627'
 '0.4268' '0.533' '0.3181' '0.2299' '0.2522' '0.284' '0.2481' '0.3449'
 '0.2672' '0.3709' '0.3405' '0.2895' '0.4618' '1.4565' '0.681' '0.6027'
 '0.9136' '0.8273' '1.9874' '0.8004' '0.4263' '0.4621' '0.3016' '0.6841'
 '0.2456' '0.2426' '6.0882' '5.1867' '3.9579' '4.1817' '4.4292' '1.1729'
 '0.7573' '1.6844' '4.1809' '15.4243' '5.5898' '0.2247' '0.2267' '2.5625'
 '0.646' '0.4369' '0.3486' '0.698' '3.6349' '0.4723' '0.8062' '0.3628'
 '0.7371' '2.2562' '0.7093' '0.2614' '0.9022' '0.6176' '1.2527' '0.9869'
 '0.735' '0.3043' '0.4225' '0.5059' '0.6584' '0.8492' '0.2168' '0.3051'
 '0.3484' '0.2978' '1.2346' '0.6652' '0.2693' '0.6097' '0.6304' '0.2606'
 '0.7273' '0.3214' '0.3839' '0.261' '0.2972' '0.4959' '0.6894' '1.2508'
 '0.2686' '0.2882' '0.3034' '0.2805' '0.2294' '0.2815' '0.2078' '0.3618'
 '0.3154' '0.4473' '0.383' '0.3088' '0.2437' '0.2573' '0.4279' '0.3793'
 '0.2113' '0.5687' '0.3377' '0.2279' '0.3239' '0.2788' '0.3711' '0.416'
 '0.2155' '0.2901' '0.5413' '0.4287' '0.3216' '0.2716' '0.956' '0.46'
 '3.963' '0.72' '0.482' '0.338' '1.3247' '0.877' '0.9985' '1.14' '2.7975'
 '0.4952' '0.2516' '0.2042' '0.368' '0.602' '0.4691' '0.825' '0.7405'
 '0.5303' '0.3938' '0.5139' '0.3027' '0.3674' '0.2575' '1.0371' '0.3437'
 '0.2868' '0.2339' '0.3429' '0.2447' '0.2094' '0.2632' '0.3556' '0.2545'
 '0.3915' '0.3402' '1.8999' '0.2565' '1.8387' '0.3991' '0.3626' '0.2893'
 '0.4638' '0.2811' '0.3012' '0.3007' '0.2133' '0.2644' '0.7671' '0.4368'
 '0.7574' '0.7108' '0.4002']

In [13]:
df_AguaSubterranea['FLUORUROS_mg/L'] = df_AguaSubterranea['FLUORUROS_mg/L'].astype(float, errors='ignore')
df_AguaSubterranea['FLUORUROS_mg/L'][pd.to_numeric(df_AguaSubterranea['FLUORUROS_mg/L'], errors='coerce').isnull()].unique().tolist()

['<0.2']

In [14]:
df_AguaSubterranea.loc[ df_AguaSubterranea['FLUORUROS_mg/L'] == '<0.2', 'FLUORUROS_mg/L'] = 0.2
df_AguaSubterranea['FLUORUROS_mg/L'] = df_AguaSubterranea['FLUORUROS_mg/L'].astype(float, errors='ignore')
df_AguaSubterranea['FLUORUROS_mg/L'].dtypes

dtype('float64')