<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-team-1/blob/main/Modulo3/Semana4_Actividad4_Team1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ACTIVIDAD 4

In [ ]:
#load the dataset

#path = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

In [ ]:
import os
import numpy as np
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/drive/Shareddrives/DataScienceTeam1/Actividad3_DataSet.csv", index_col = 0)
df.index.name=None
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,0.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,0.0,0.0,0.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,0.0,0.0,0.0,0.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,0.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,0.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
df.isnull().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

After review that the data is cleaned, the next steps id to see the description of the data set, to see where we can apply normalizacion

In [ ]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
X1,29995.0,167495.571929,129751.669805,10000.0,50000.0,140000.0,240000.0,1000000.0
X2,29995.0,1.603767,0.489122,1.0,1.0,2.0,2.0,2.0
X3,29995.0,1.842340,0.744687,1.0,1.0,2.0,2.0,4.0
X4,29995.0,1.557426,0.521519,1.0,1.0,2.0,2.0,3.0
X5,29995.0,35.482580,9.214719,21.0,28.0,34.0,41.0,79.0
X6,29995.0,0.356693,0.760531,0.0,0.0,0.0,0.0,8.0
X7,29995.0,0.319953,0.801670,0.0,0.0,0.0,0.0,8.0
X8,29995.0,0.303717,0.789280,0.0,0.0,0.0,0.0,8.0
X9,29995.0,0.258610,0.760974,0.0,0.0,0.0,0.0,8.0
X10,29995.0,0.221337,0.717557,0.0,0.0,0.0,0.0,8.0
X11,29995.0,0.226471,0.715347,0.0,0.0,0.0,0.0,8.0
X12,29995.0,51228.929222,73639.484586,-165580.0,3565.5,22387.0,67107.0,964511.0
X13,29995.0,49184.650775,71177.323062,-69777.0,2986.5,21207.0,64017.0,983931.0
X14,29995.0,47018.452842,69352.789651,-157264.0,2673.5,20089.0,60172.0,1664089.0
X15,29995.0,43267.801700,64336.090564,-170000.0,2332.0,19052.0,54523.0,891586.0
X16,29995.0,40315.593666,60799.358475,-81334.0,1768.0,18107.0,50182.5,927171.0
X17,29995.0,38877.517253,59556.863336,-339603.0,1258.0,17081.0,49205.5,961664.0
X18,29995.0,5665.800600,16564.520800,0.0,1000.0,2100.0,5006.5,873552.0
X19,29995.0,5924.936656,23043.365389,0.0,835.5,2010.0,5000.0,1684259.0
X20,29995.0,5228.206268,17608.413804,0.0,390.0,1800.0,4511.0,896040.0
X21,29995.0,4829.891515,15668.752992,-3272.0,296.0,1500.0,4015.0,621000.0
X22,29995.0,4802.688215,15280.332085,0.0,252.0,1500.0,4040.0,426529.0
X23,29995.0,5216.259977,17778.848359,0.0,118.0,1500.0,4000.0,528666.0
Y,29995.0,0.221204,0.415064,0.0,0.0,0.0,0.0,1.0

#Dont load this !!
We suggest to normalize X12 to X23

In [ ]:
#lets difine the normalize function
def normalize(x):
    min = np.min(x)
    max = np.max(x)
    range = max - min
    return [(a - min) / range for a in x]

In [ ]:
ndf = df.copy()

In [ ]:
ndf.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11',
       'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21',
       'X22', 'X23', 'Y'],
      dtype='object')

In [ ]:
columnas = ['X12','X13','X14','X15','X16','X17','X18','X19','X20', 'X21', 'X22', 'X23']

for i in columnas:
  ndf[i] = normalize(ndf[i])

ndf.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
X1,29995.0,167495.571929,129751.669805,10000.0,50000.000000,140000.000000,240000.000000,1000000.0
X2,29995.0,1.603767,0.489122,1.0,1.000000,2.000000,2.000000,2.0
X3,29995.0,1.842340,0.744687,1.0,1.000000,2.000000,2.000000,4.0
X4,29995.0,1.557426,0.521519,1.0,1.000000,2.000000,2.000000,3.0
X5,29995.0,35.482580,9.214719,21.0,28.000000,34.000000,41.000000,79.0
X6,29995.0,0.356693,0.760531,0.0,0.000000,0.000000,0.000000,8.0
X7,29995.0,0.319953,0.801670,0.0,0.000000,0.000000,0.000000,8.0
X8,29995.0,0.303717,0.789280,0.0,0.000000,0.000000,0.000000,8.0
X9,29995.0,0.258610,0.760974,0.0,0.000000,0.000000,0.000000,8.0
X10,29995.0,0.221337,0.717557,0.0,0.000000,0.000000,0.000000,8.0
X11,29995.0,0.226471,0.715347,0.0,0.000000,0.000000,0.000000,8.0
X12,29995.0,0.191851,0.065162,0.0,0.149674,0.166329,0.205901,1.0
X13,29995.0,0.112898,0.067549,0.0,0.069055,0.086347,0.126974,1.0
X14,29995.0,0.112160,0.038078,0.0,0.087812,0.097374,0.119382,1.0
X15,29995.0,0.200895,0.060604,0.0,0.162334,0.178084,0.211498,1.0
X16,29995.0,0.120624,0.060287,0.0,0.082401,0.098602,0.130407,1.0
X17,29995.0,0.290855,0.045768,0.0,0.261945,0.274105,0.298792,1.0
X18,29995.0,0.006486,0.018962,0.0,0.001145,0.002404,0.005731,1.0
X19,29995.0,0.003518,0.013682,0.0,0.000496,0.001193,0.002969,1.0
X20,29995.0,0.005835,0.019651,0.0,0.000435,0.002009,0.005034,1.0
X21,29995.0,0.012978,0.025099,0.0,0.005715,0.007644,0.011673,1.0
X22,29995.0,0.011260,0.035825,0.0,0.000591,0.003517,0.009472,1.0
X23,29995.0,0.009867,0.033630,0.0,0.000223,0.002837,0.007566,1.0
Y,29995.0,0.221204,0.415064,0.0,0.000000,0.000000,0.000000,1.0

#Start here